{% load static %}
<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Changhyun's homepage</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
      <link rel="stylesheet" href="{% static 'css/scribbler-global.css' %}">
      <link rel="stylesheet" href="{% static 'css/scribbler-landing.css' %}">
      <link rel="author" href="humans.txt">
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="{% url 'post_list' %}" class="link link--dark"> Blog</a></li>
        <li class="menu__item"><a href="https://github.com/eddie8615" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
    <div class="hero">
      <h1 class="hero__title">Changhyun Kim</h1>
      <p class="hero__description">Studies Computer Science at</p>
      <p class="hero__description"><a href="https://www.cs.bham.ac.uk/">University of Birmingham</a> </p>
    </div>

    <div class="wrapper">
      <div class="profile">
        <h3 class="section__title">Profile</h3>
        A third year student at University of Birmingham who prefers to work as a team with lots of and frequent discussion for problem solving and combine large amount of sophisticated ideas into an optimised output. Based on experience of being soldier, I have an awareness of importance of teamwork and the way a team’s performance is maintained.
      </div>
      <br>

      <div class="skills">
        <h3 class="section__title">Skills</h3>
      </div>
      <div class="feature">
        <div class="feature__item">
          <h3 class="section__title">Java</h3>
          <p>Java is number one language that I can do well for coding. I used to make a simple tank game using lwjgl library</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Android</h3>
          <p>I have a great experience of making an application that enhances communication between sales staffs at my current workplace </p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">React-native</h3>
          <p>During quarantine, I have tried to use React-native to make a mobile application that can be used in either Android and iOS platform</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Firebase</h3>
          <p>The back-end platform, Firebase, is one of the charming cloud service provided from Google. I have various components such as Firestore database, which is noSQL, and cloud functions to migrate existing data to firebase</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Mysql</h3>
          <p>I got used to use mysql than other SQL based databases. I used Java and Mysql to create a secure login system</p>
        </div>
        <div class="feature__item">
          <h3 class="section__title">Github & Gitlab</h3>
          <p>I frequently use git for any projects that I involved. Check out my whole projects at Github :)</p>
        </div>
      </div>

      <div class="interests">
        <h3 class="section__title">Interests</h3>
      </div>
      <div class="keybinding">
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Data analysis</h3>
          <li>Financial Forecasting</li>
          <li>Big data</li>
          <li>Investment automation</li>
          <li>Artificial Intelligence</li>

        </ul>
        <ul class="keybinding__detail">
          <h3 class="keybinding__title">Full-stack app developer</h3>
          <li>Android & React-native & Flutter</li>
          <li>IoT</li>
        </ul>
      </div>
    </div>
    <div class="changelog">
      <div class="wrapper">
        <h3 class="section__title">Experiences</h3>
        <div class="changelog__item">
          <div class="changelog__meta">
            <h4 class="changelog__title">Asia Pacific Healthcare</h4>
            <small class="changelog__date">1/6/2020 - present</small>
          </div>
          <div class="changelog__detail">
            <ul>
              <li>Working as a full-stack Android native Developer using Firebase cloud service.</li>
              <li>Contributing improved work flow for all employees by managing existing data compatible with a Firestore database built-in Firebase.</li>

            </ul>
          </div>
        </div>
        <div class="changelog__item">
          <div class="changelog__meta">
            <h4 class="changelog__title">Personal tutoring</h4>
            <small class="changelog__date">1/7/2019 - 1/9/2019</small>
          </div>
          <div class="changelog__detail">
            <ul>
              <li>Adding Unicode support</li>
              <li>Basic text highlighting</li>
              <li>Fresh Design</li>
            </ul>
          </div>
        </div>
        <div class="changelog__item">
          <div class="changelog__meta">
            <h4 class="changelog__title">Republic of Korea Army</h4>
            <small class="changelog__date">7/4/2015 - 6/1/2017</small>
          </div>
          <div class="changelog__detail">
            <ul>
              <li>Arranging and diagnosing soldiers’ difficulties by conducting survey with using MS Word at Department of Inspection.</li>
              <li>Checking the security status of vice-commander’s personal computer daily according to distributed PC security guideline.</li>
            </ul>
          </div>
        </div>
        <div class="changelog__callout">
          <a href="{% url 'post_list' %}" class="button--secondary">Checkout Log</a>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="link link--light">Contact: </div>
      movementfor@gmail.com or cxk858@student.bham.ac.uk</footer>

  </body>
</html>